
  <div class="container-fluid">
  <div id="post">
  <h2>TITLE</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas officia sapiente unde animi assumenda quos ea quam corrupti, sunt cupiditate velit accusantium omnis dolorum delectus, voluptatibus adipisci minus quisquam.</p>
  </div>
  </div>




  

